.post-message {
  padding: 2px;
  font-size: 110%;
}

.post-username {
  font-size: 90%;
}

.post-created_at {
  font-size: 90%;
}

.post {
  padding: 5%;
  width: 30%;
  width: auto;
}

.form-comments {
  padding: 5%;
}